.Button {
    padding: 15px;
    font-size: inherit;
    color: var(--primary);
    user-select: none;
    border-radius: 5px;
    border: 1px solid var(--primary);
    background-color: var(--white);
    font-weight: 700;
}