.Button {
    padding: 15px;
    font-size: inherit;
    color: var(--primary);
    user-select: none;
    border-radius: 5px;
    border: 1px solid var(--primary);
    background-color: var(--white);
    font-weight: 700;

    &:disabled {
        background-color: var(--gray10);
        border-color: var(--gray10);
        color: var(--gray);
    }
}