.TextBox {

    &.hasError {
        .text {
            border-color: var(--red);
        }
    }

    .text {
        margin-top: 5px;
        padding: 15px;
        width: 100%;
        font-size: inherit;
        border-radius: 5px;
        border: solid 2px var(--gray10);

        &:focus {
            outline-color: var(--primary);
        }
    }

    .errorText {
        margin: 0;
        font-size: 0.75rem;
        color: var(--red);
    }
}