.CourseInput {
    display: flex;
    flex-wrap: nowrap;

    .courseText {
        margin-right: .4rem;
        flex-basis: 100%;
    }

    .btnSubmit {
        margin-top: 25px;
        max-height: 55px;
    }
}